<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{js/vue.js}"></script>
</head>
<body>
    <form action="#" method="post" id="form">
        <input type="text" placeholder="用户名" name="username" required="required"/>
        <br>
        <input type="password" placeholder="密码" name="password" required="required"/>
        <br>
        <input type="text" placeholder="验证码" name="code" required="required">
        <img v-bind:src="captchUrl" alt="" v-on:click="refreshCode" id="code">
        <button v-on:click="refreshCode">刷新验证码</button>
        <br>
        <input type="submit" value="登陆">
    </form>
    <button><a href="/register">注册</a></button>
</body>
<script>
    var app = new Vue({
        el:'#form',
        data: {
            'captchUrl': '/captcha/get'
        },
        methods: {
            refreshCode() {
                this.captchUrl = '/captcha/get?r='+Date.now();
            }
        }
    });
</script>
</html>