<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gu.chatroom.dao.ChatroomMapper" >
  <resultMap id="BaseResultMap" type="com.gu.chatroom.model.Chatroom" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="room_introduction" property="roomIntroduction" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_hidden" property="isHidden" jdbcType="BIT" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    <result column="is_locked" property="isLocked" jdbcType="BIT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.gu.chatroom.model.Chatroom" extends="BaseResultMap" >
    <result column="room_name" property="roomName" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, creator, room_introduction, create_time, is_hidden, is_deleted, is_locked
  </sql>
  <sql id="Blob_Column_List" >
    room_name
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.gu.chatroom.model.ChatroomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from chatroom
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gu.chatroom.model.ChatroomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from chatroom
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from chatroom
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from chatroom
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gu.chatroom.model.ChatroomExample" >
    delete from chatroom
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gu.chatroom.model.Chatroom" >
    insert into chatroom (id, creator, room_introduction, 
      create_time, is_hidden, is_deleted, 
      is_locked, room_name)
    values (#{id,jdbcType=INTEGER}, #{creator,jdbcType=INTEGER}, #{roomIntroduction,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{isHidden,jdbcType=BIT}, #{isDeleted,jdbcType=BIT}, 
      #{isLocked,jdbcType=BIT}, #{roomName,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.gu.chatroom.model.Chatroom" >
    insert into chatroom
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="roomIntroduction != null" >
        room_introduction,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isHidden != null" >
        is_hidden,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="isLocked != null" >
        is_locked,
      </if>
      <if test="roomName != null" >
        room_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="roomIntroduction != null" >
        #{roomIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isHidden != null" >
        #{isHidden,jdbcType=BIT},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="isLocked != null" >
        #{isLocked,jdbcType=BIT},
      </if>
      <if test="roomName != null" >
        #{roomName,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gu.chatroom.model.ChatroomExample" resultType="java.lang.Integer" >
    select count(*) from chatroom
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update chatroom
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=INTEGER},
      </if>
      <if test="record.roomIntroduction != null" >
        room_introduction = #{record.roomIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isHidden != null" >
        is_hidden = #{record.isHidden,jdbcType=BIT},
      </if>
      <if test="record.isDeleted != null" >
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
      <if test="record.isLocked != null" >
        is_locked = #{record.isLocked,jdbcType=BIT},
      </if>
      <if test="record.roomName != null" >
        room_name = #{record.roomName,jdbcType=VARBINARY},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update chatroom
    set id = #{record.id,jdbcType=INTEGER},
      creator = #{record.creator,jdbcType=INTEGER},
      room_introduction = #{record.roomIntroduction,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      is_hidden = #{record.isHidden,jdbcType=BIT},
      is_deleted = #{record.isDeleted,jdbcType=BIT},
      is_locked = #{record.isLocked,jdbcType=BIT},
      room_name = #{record.roomName,jdbcType=VARBINARY}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update chatroom
    set id = #{record.id,jdbcType=INTEGER},
      creator = #{record.creator,jdbcType=INTEGER},
      room_introduction = #{record.roomIntroduction,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      is_hidden = #{record.isHidden,jdbcType=BIT},
      is_deleted = #{record.isDeleted,jdbcType=BIT},
      is_locked = #{record.isLocked,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gu.chatroom.model.Chatroom" >
    update chatroom
    <set >
      <if test="creator != null" >
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="roomIntroduction != null" >
        room_introduction = #{roomIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isHidden != null" >
        is_hidden = #{isHidden,jdbcType=BIT},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="isLocked != null" >
        is_locked = #{isLocked,jdbcType=BIT},
      </if>
      <if test="roomName != null" >
        room_name = #{roomName,jdbcType=VARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.gu.chatroom.model.Chatroom" >
    update chatroom
    set creator = #{creator,jdbcType=INTEGER},
      room_introduction = #{roomIntroduction,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_hidden = #{isHidden,jdbcType=BIT},
      is_deleted = #{isDeleted,jdbcType=BIT},
      is_locked = #{isLocked,jdbcType=BIT},
      room_name = #{roomName,jdbcType=VARBINARY}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gu.chatroom.model.Chatroom" >
    update chatroom
    set creator = #{creator,jdbcType=INTEGER},
      room_introduction = #{roomIntroduction,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_hidden = #{isHidden,jdbcType=BIT},
      is_deleted = #{isDeleted,jdbcType=BIT},
      is_locked = #{isLocked,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>