<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gu.chatroom.dao.LogMapper" >
  <resultMap id="BaseResultMap" type="com.gu.chatroom.model.Log" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="control_ip" property="controlIp" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="premission_id" property="premissionId" jdbcType="INTEGER" />
    <result column="control_description" property="controlDescription" jdbcType="VARCHAR" />
    <result column="control_time" property="controlTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, control_ip, user_id, premission_id, control_description, control_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gu.chatroom.model.LogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gu.chatroom.model.LogExample" >
    delete from log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gu.chatroom.model.Log" >
    insert into log (id, control_ip, user_id, 
      premission_id, control_description, control_time
      )
    values (#{id,jdbcType=INTEGER}, #{controlIp,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{premissionId,jdbcType=INTEGER}, #{controlDescription,jdbcType=VARCHAR}, #{controlTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gu.chatroom.model.Log" >
    insert into log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="controlIp != null" >
        control_ip,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="premissionId != null" >
        premission_id,
      </if>
      <if test="controlDescription != null" >
        control_description,
      </if>
      <if test="controlTime != null" >
        control_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="controlIp != null" >
        #{controlIp,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="premissionId != null" >
        #{premissionId,jdbcType=INTEGER},
      </if>
      <if test="controlDescription != null" >
        #{controlDescription,jdbcType=VARCHAR},
      </if>
      <if test="controlTime != null" >
        #{controlTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gu.chatroom.model.LogExample" resultType="java.lang.Integer" >
    select count(*) from log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update log
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.controlIp != null" >
        control_ip = #{record.controlIp,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.premissionId != null" >
        premission_id = #{record.premissionId,jdbcType=INTEGER},
      </if>
      <if test="record.controlDescription != null" >
        control_description = #{record.controlDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.controlTime != null" >
        control_time = #{record.controlTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update log
    set id = #{record.id,jdbcType=INTEGER},
      control_ip = #{record.controlIp,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=INTEGER},
      premission_id = #{record.premissionId,jdbcType=INTEGER},
      control_description = #{record.controlDescription,jdbcType=VARCHAR},
      control_time = #{record.controlTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gu.chatroom.model.Log" >
    update log
    <set >
      <if test="controlIp != null" >
        control_ip = #{controlIp,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="premissionId != null" >
        premission_id = #{premissionId,jdbcType=INTEGER},
      </if>
      <if test="controlDescription != null" >
        control_description = #{controlDescription,jdbcType=VARCHAR},
      </if>
      <if test="controlTime != null" >
        control_time = #{controlTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gu.chatroom.model.Log" >
    update log
    set control_ip = #{controlIp,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      premission_id = #{premissionId,jdbcType=INTEGER},
      control_description = #{controlDescription,jdbcType=VARCHAR},
      control_time = #{controlTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>